<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>Mi Portfolio</title>
</head>
<body class="home">
    <header class="home_header">
        <section class="home_header_menu">
            <article class="home_header_menu_h1">
                <h1>Matias Sabbadini</h1>
                <p>Desarrollador Web Full Stack</p>
            </article>
            <article class="home_header_menu_nav">
                <nav class="home_header_menu_nav_redes">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </nav>
            </article>
        </section>
    </header>
</body>
</html>